// Screen Sizes

@mixin mobile
  @media screen and (max-width: $breakpoint-mobile)
    @content

@mixin tablet
  @media screen and (max-width: $breakpoint-tablet)
    @content

@mixin desktop
  @media screen and (min-width: $breakpoint-tablet)
    @content

// Decorators

@mixin small-caps
  font-size: 0.75em
  letter-spacing: 0.05em
  text-transform: uppercase

@mixin outline-text
  -webkit-text-fill-color: $color-blue
  -webkit-text-stroke-width: 1.5px
  -webkit-text-stroke-color: $color-white

  -moz-text-fill-color: $color-blue
  -moz-text-stroke-width: 1.5px
  -moz-text-stroke-color: $color-white

  -o-text-fill-color: $color-blue
  -o-text-stroke-width: 1.5px
  -o-text-stroke-color: $color-white

@mixin outline-text-blue
  -webkit-text-fill-color: $color-white
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $color-blue

  -moz-text-fill-color: $color-white
  -moz-text-stroke-width: 1px
  -moz-text-stroke-color: $color-blue

  -o-text-fill-color: $color-white
  -o-text-stroke-width: 1px
  -o-text-stroke-color: $color-blue

// Dividers
@mixin line($color: $color-blue)
  &::after
    content: ''
    display: block
    border-bottom: 2px solid $color

@mixin block-small($color: $color-blue)
  +divider-block(4rem, $color)

@mixin block-large($color: $color-blue)
  +divider-block(8rem, $color)

@mixin divider-block($width, $color)
  &::after
    content: ''
    display: block
    width: $width
    height: 1rem
    border: 1px solid $color
    margin: 2rem auto
