// Type

$type-family-sans: 'Karla', sans-serif
$type-family-serif: Georgia, serif

$type-size-base: 18px

// Color

$color-black: rgb(0, 0, 0)
$color-white: rgb(255, 255, 255)
//$color-blue: rgb(0, 56, 168)
$color-blue: rgb(0, 70, 254)
$color-lightblue: rgba(0, 70, 254, .3)
$color-grey: rgba(0, 0, 0, .3)
$color-lightgrey: rgba(0, 0, 0, .1)



// Breakpoints
$breakpoint-mobile: 640px
$breakpoint-tablet: 1024px
$breakpoint-desktop: 1200px
