footer
  background-color: $color-blue
  color: $color-white

.thebottom
  text-transform: uppercase
  letter-spacing: .15em
  font-size: .8em
  font-weight: 700
  text-decoration: none

.right
  margin-right: 0
