section.presenter-list
  .presenter
    +block-small
    overflow: hidden
    text-overflow: ellipsis
    padding-bottom: 1rem

  a
    text-decoration: none

  h4
    a:hover
      color: $color-black
    text-align: center

  .website
    +small-caps
    font-weight: 700
    white-space: nowrap

.presenter-site
  padding: 1rem 0
  text-align: center
