section.presenter-list
  .presenter
    +block-small
    overflow: hidden
    text-overflow: ellipsis

  a
    text-decoration: none
    
  .website
    +small-caps
    color: $color-blue
    font-weight: 700
    white-space: nowrap
