section.intro
  padding: 2rem
  h1
    padding: 2rem 0 0 0
  +mobile
    &.mobile-full
      padding: 0

section.description
  h3
    margin-bottom: 0
    
  p
    font-size: 1.5em

section.more

  p 
    font-size: 1.25em
    padding: .5rem 0

.bigdescription
  color: $color-blue
  padding: 1rem 0 0 0
  font-size: 1.75rem
  +mobile
    &.mobile-full
      font-size: .8rem

.smalldescription
  padding: 0 0 2rem 0
  +mobile
    &.mobile-full
      font-size: .8rem

